header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  width: 1052px;
  flex-shrink: 0;
  margin: 92px auto 91px auto;
}

.header__menu {
  grid-column: 1/2;
  display: flex;
  justify-self: center;
  align-self: center;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__menu-list-item {
  font-size: 18px;
  font-weight: 400;
}

.header__list-item_active {
  list-style: none;
}

.header__list-item_active a {
  text-decoration: none;
}

.header__logo {
  grid-column: 2/3;
  display: flex;
  width: 100%;
  height: 100%;
}

.header__logo-image {
  display: block;
  margin: auto;
  width: 148px;
  height: 105px;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 240px;
  font-size: 18px;
  font-weight: 400;
  line-height: 135%;
  font-style: normal;
}

.header__contacts {
  grid-column: 3/4;
  justify-self: end;
  align-self: center;
  margin-right: 30px;
}

.title {
  position: relative;
  margin: 0 auto 176px auto;
  display: grid;
  width: 1082px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.title__text {
  width: 100%;
  height: 100%;
  padding: 162px 49px 75px 47px;
  grid-row: 1/2;
  grid-column: 1/1;
  z-index: 1;
}

/* Ниже идут теги для стилизации заголовка "Оно тебе надо" */

.accent-span {
  display: block;
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
  line-height: 135%;
  letter-spacing: 31px;
}

.text-end {
  text-align: end;
  line-height: 106%;
  letter-spacing: 29px;
}

.accent-letter-spacing {
  letter-spacing: 60px;
}

.accent-letter-spacing-none {
  letter-spacing: 0;
}

/* Конец секции с тегами для стилизации заголовка "Оно тебе надо" */

.title__discription {
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  grid-column: 1/1;
  grid-row: 2/3;
  justify-content: space-between;
  align-content: center;
  padding: 50px 49px 50px 80px;
  z-index: 1;
}

.title__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  width: 252px;
  height: 52px;
  font-family: inherit;
  color: #fff;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid currentColor;
  background: none;
}

.bet-button:hover {
  cursor: pointer;
}

.lots {
  display: grid;
  margin: 0 auto 177px auto;
  width: 1034px;
}

.lots__header {
  grid-column: 1/1;
  grid-row: 1/2;
  padding: 0 37px 26px 37px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

/* В тегах .lots__card-list и .lots__card-list-item также реализовал возможность добавления карточек в будующем без изменения CSS кода */

.lots__card-list {
  grid-column: 1/1;
  grid-row: 2/3;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  height: 100%;
}

.lots__card-list-item {
  position: relative;
  min-width: 328px;
  min-height: 554px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card-link {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-decoration: none;
}

.card__title {
  align-self: center;
  max-width: 254px;
  padding-top: 48px;
  z-index: 2;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  align-self: center;
  max-width: 254px;
  padding-bottom: 46px;
  z-index: 2;
  font-size: 20px;
  line-height: 120%;
}

.card__text::first-line {
  line-height: 100%; /* Попытка исправить баг в макете с налезающими друг на друга блоками */
}

.lots__more-information-link {
  grid-column: 1/1;
  grid-row: 3/4;
  display: flex;
  align-items: flex-end;
  padding: 28px 39px 2px 39px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 328px 1fr;
  column-gap: 25px;
  row-gap: 7px;
  margin: 0 auto 181px auto;
  padding-left: 25px;
  width: 1082px;
}

.about__logo {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  display: flex;
  width: 237px;
  height: 237px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  margin: auto;
  width: 148px;
  height: 114px;
}

.about__title {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  grid-column: 2/3;
  grid-row: 2/3;
}

.about__text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 115%;
}

.about__text p:not(:last-child) {
  margin-bottom: 25px;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto 89px auto;
  width: 984px;
}

.footer__contacts {
  grid-column: 1/2;
  justify-self: start;
  align-self: center;
}

.footer__menu {
  grid-column: 2/3;
  justify-self: center;
  align-self: flex-start;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  list-style: none;
}

.footer__menu-list-item {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.footer__list-item_active a {
  text-decoration: none;
}

.footer__social-list {
  grid-column: 3/4;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  gap: 46px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}
